/* Start Global Vlaues */
*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}
body{
    margin: 0;
    padding: 0;
    /* height: 10000px; */
}

/* End Global Vlaues */

/* Start Home */
.home-section{
    overflow: hidden;
    background-attachment: scroll;
}

.navbar{
    z-index: 1000;
    box-shadow: 0px 5px 50px rgba(224, 224, 224, 0.405);
}

.navbar-toggler:focus{
    box-shadow: none;
}
.nav-link{
    color: black;
    margin: 0%;
    padding: 0%;
    font-size: 14px;
}
.nav-link:hover{
    color: black;
}
.nav-link:focus{
    color: black;
}
.navbar .navbar-nav .nav-link.active{
    transition: all 400ms linear;
}
.navbar .navbar-nav .nav-link.active::after{
    content: "";
    background-color: black;
    width: 50px;
    height: 2px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 400ms linear;
}

@media (max-width: 991px) { 
    .navbar .navbar-nav .nav-link.active::after{
        content: "";
        background-color: white;
        width: 50px;
        height: 0px;
        position: absolute;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.home-text h1{
    font-size: 50px;
}
.home-text h5{
    font-size: 3rem;
}
.home-text h5::after{
    content: '|';
    animation: typing 10s linear infinite;
}
@keyframes typing {
    0% {
        content: " L|";
    }

    1% {
        content: " La|";
    }

    2% {
        content: " Larr|";
    }

    3% {
        content: " Larry|";
    }

    4% {
        content: " Larry |";
    }

    5% {
        content: " Larry D|";
    }

    6% {
        content: " Larry Da|";
    }

    7% {
        content: " Larry Dan|";
    }

    8% {
        content: " Larry Dani|";
    }

    9% {
        content: " Larry Danie|";
    }

    10% {
        content: " Larry Daniel|";
    }

    11% {
        content: " Larry Daniels|";
    }

    13% {
        content: " Larry Daniels.|";
    }

    14% {
        content: " Larry Daniels.|";
    }

    15% {
        content: " Larry Daniels.|";
    }

    16% {
        content: " Larry Daniels|";
    }

    17% {
        content: "  Larry Daniel|";
    }

    18% {
        content: " Larry Danie|";
    }

    19% {
        content: " Larry Dani|";
    }

    20% {
        content: " Larry Dan|";
    }

    21% {
        content: " Larry Da|";
    }

    22% {
        content: " Larry D|";
    }

    23% {
        content: " Larry |";
    }

    24% {
        content: " Larry|";
    }

    25% {
        content: " Larr|";
    }

    25% {
        content: " Lar|";
    }

    26% {
        content: " La|";
    }

    27% {
        content: " L|";
    }

    28% {
        content: " |";
    }

    29% {
        content: "|";
    }

    30% {
        content: " |";
    }

    31% {
        content: " D|";
    }

    32% {
        content: " De|";
    }

    33% {
        content: " Des|";
    }

    34% {
        content: " Desi|";
    }

    35% {
        content: " Desig|";
    }

    36% {
        content: " Design|";
    }

    37% {
        content: " Designe";
    }

    38% {
        content: " Designer|";
    }

    39% {
        content: " Designer.|";
    }

    40% {
        content: " Designer.|";
    }

    41% {
        content: " Designer|";
    }

    42% {
        content: " Designe|";
    }

    43% {
        content: " Design|";
    }

    44% {
        content: " Desig|";
    }

    45% {
        content: " Desi|";
    }

    46% {
        content: " Des|";
    }

    47% {
        content: "  De|";
    }

    48% {
        content: " D|";
    }

    49% {
        content: " |";
    }

    50% {
        content: "|";
    }

    51% {
        content: "|";
    }

    52% {
        content: " |";
    }

    53% {
        content: " D|";
    }

    54% {
        content: " De|";
    }

    55% {
        content: " Dev|";
    }

    56% {
        content: " Deve|";
    }

    57% {
        content: " Devel|";
    }

    58% {
        content: " Develo|";
    }

    59% {
        content: " Develop|";
    }

    60% {
        content: " Develope|";
    }

    61% {
        content: " Developer|";
    }

    62% {
        content: " Developer.|";
    }

    63% {
        content: " Develope|";
    }

    64% {
        content: " Develop|";
    }

    65% {
        content: " Develo|";
    }

    66% {
        content: " Devel|";
    }

    67% {
        content: " Deve|";
    }

    68% {
        content: " Dev|";
    }

    69% {
        content: " De|";
    }

    70% {
        content: " D|";
    }

    71% {
        content: " |";
    }

    72% {
        content: "|";
    }

    73% {
        content: "|";
    }
    100% {
        content: "|";
    }


}

.home-social a span svg{
    width: 20px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.364);
    color: white;
    border-radius: 50px;
    padding: 7px;
    margin: 2px;
}

/* End Home */

/* Start About */
.about-img{
    width: 90%;
    position: relative;
}
.about .about-img::after{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: -25px;
    bottom: -30px;
    background-image: url(..//images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.progress{
    height: 1.7rem;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.364) inset;
}

.btn-1{
    color: white;
    background-color: black;
    transition: all .3s ease-in-out;
}
.btn-1:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.btn-2{
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: all .3s ease-in-out;

}
.btn-2:hover{
    background-color: black;
    color: white;
}
/* End About */


/* Start Services */
.services{
    background-color: #f7f7f7;
    padding-top: 3rem;
}

.services-span svg{
    width: 40px;
    height: 40px;
    background-color: #f7f7f7;
    border-radius: 50%;
    padding: 15px;
    transition: all 200ms ease-in-out;
}
.services-box:hover svg{
    color: white;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    padding: 15px;
    transition: all 200ms ease-in-out;
}

/* End Services */

/* Start Portofolio */
.port-img{
    /* width:85%; */
    overflow: hidden;
    position: relative;
}
.port-img:hover .port-overlay{
    opacity: 0.9;

}
.port-overlay{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.901);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.overlay-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.overlay-icons span{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    background-color: black;
    border-radius: 50px;
    color: white;
}
.overlay-icons span:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.nav-tabs{
    max-width: 500px;
    margin: 15px;
}

 .nav-tabs .nav-item .active{
    background-color: white;
    color: black;
    position: relative;
}
 .nav-tabs .nav-item .active::after{
    content: "";
    background-color: black;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
}

 .nav-tabs .nav-item{
    background-color: white;
    color: black;
}

/* End Portofolio */

/* start Testomonial */
.slider-section{
    background-color: #f7f7f7;
    position: relative;
    color: #fff;
    padding: 4rem;
    /* height: 32rem; */
}

 .carousel-indicators .btnn-1{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #869791;
 }
 .carousel-indicators .btnn-1:hover{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #044d09c9;
 }
.blog-section{
    background-color: #eee;
}
 .author-img{
    width: 80px;
    height: 80px;
 }
 .category{
    position: relative;
    bottom: 10px;
    /* padding: 0.1rem; */
    width: 20%;
 }
 .category2{
    width: 30%;
    padding: 3px;
    font-size: x-small;
 }

 .about-title{
    font-size: 40px;
 }
 /* .services-title-father{
    position: relative;
 } */
 .services-title{
    font-size: 40px;
    position: relative;
    display: inline-block;

 }
 .services-title::after{
    content: "";
    width: 100%;
    height: 8px;
    background-image: url(..//images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -4px;
    left: 0;
    z-index: -2;

 }
 .content-test{
    max-width: 900px;
    margin: auto;
 }
/* End Testomonial */

/* start Counter */
.section-counter{
    background-color: #fff;
    position: relative;
    color: #000000;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    padding: 8rem;
}

/* End Counter */

/* Start Team */
.team{
    background-color: #f7f7f7;
}
.member-info{
    /* max-width: 400px; */
    background-color: #5b5b5b;
    border-radius: 0px 0px 10px 10px;
}

.member-info-first{
    font-size: 18px;
}
.member-img{
    overflow: hidden;
    position: relative;
}
.team-member{
    transition: all 0.3s linear;
}
.member-img:hover .team-member{
    transform: scale(1.15);
    transition: all 0.3s linear;
}

.team-overlay{
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    left: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    transform: rotate(0) scale(0.4);
    opacity: 0;
}

.member-box:hover .team-overlay{
    opacity: 0.9;
    transform: rotateY(360deg) scale(1);
    background-color: rgba(255, 255, 255, 0.9);
    transition: all 0.3s linear;

}


.team-overlay ul li svg{
    background-color: #000000;
    width: 25px;
    height: 25px;
    color: white;
    padding: 8px;
    border-radius: 50px;
    transition: all 0.2s linear ;

}
.team-overlay ul li svg:hover{
    background-color: #fff;
    color: #000;
    border-radius: 50px;
    border: 1px solid black;
}

/* End Team  */

/* Start Conact */
input[type="text"], input[type="email"], textarea {
    border: none;
    outline: none;
    background-color: #f4f4f4;
    padding: 10px;
    
     /* You can adjust the color and thickness of the outline */
  }
/* End Conact */